/* Header yapısı -> index html */
.logo a {
    color: #ff9900;
    margin-left: 40px;
    font-size: 34px;
    text-decoration: none;
}
.logo a:hover {
    text-decoration: overline;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
nav {
    text-align: end;
}
nav a {
    margin-top: 5px;
    margin-right: 13px;
    text-decoration: none;
}
/* Header yapısı -> index html */

/* About US */
.left-img{
    width: 400px;
    height: 300px;
    border-radius: 12px;
    margin-right: 0px;
}

.right-img {
    width: 350px;
    height: 250px;
    border-radius: 12px;
    /* overflow: hidden; */
    object-fit: cover;
    margin-left: 20px;
    order: 2;  
}

.open-img {
    height: 250px;
    border-radius: 12%;
    width: 350px;
    object-fit: cover;
}

.temaContainer {
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin : 0 auto; 
}

.openBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.openItem {
    width: 350px; /* resim ile uyumlu */
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.openItem p {
    margin-top: 12px;
    font-size: 15px;
    line-height: 1.5;
}

/* transition */
.card-hover:hover {
    transform: translateY(-12px); /* yukarı çıkma efekti */
    box-shadow: 0 15px 25px rgba(0,0,0,0.25); 
}

.about-heading{
    padding-top: 50px;
    padding-left: 40px;
    text-align: center;
}

.box {
    display: flex;
    margin: 30px;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(237, 227, 227);
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}

.box1 {
    padding: 10px 20px;
    line-height: 1.6;
    font-family: "Poppins", sans-serif;
    text-align: left;
}
/* About US */
article h2 {
    color: #ff6200;
}

/* Button color, picture */
.button  {
    background-color: white;
}