* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 50px;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black; 
}

header nav a:hover {
  text-decoration: underline;
}

/* Left side logo */
.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-header .logo {
  color: #ff9900;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

/* input header */
.input-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* member and icon  */
.member-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.member-item {
  display: flex;
  align-items: center;
  height: 18px;
  margin-top: 35px;
  text-decoration: none;
  color: black;
}

.member-item img {
  max-width: 30px; 
  max-height: 30px;
  gap: 20px;
  cursor: pointer;
}

.member-item img-wide {
  height: 30px;
  width: auto;
}

.member-item img-wide {
  height: auto;
  width: 30px;
}

/* Right side menu */
.right-header nav {
  display: flex;
  font-size: 15px;
}

.right-header nav a {
  text-decoration: none;
  color: black;
}

.right-header nav a:hover {
  text-decoration: underline;
}

/* ---- ABOUT-US CONTENT ---- */
.section-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgb(237, 227, 227);
  margin: 20px;
  border-radius: 16px;
}

.section-box img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.section-text h2 {
  color: #ff6200;
  margin-bottom: 12px;
  text-align: center;
}

.section-text p {
  line-height: 1.6;
  padding: 30px;
}


/* ---- Principles Cards ---- */
.cards-container {
  margin: 40px auto;
  max-width: 1200px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}

/* Hover efekti */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

/* ---- Responsive ---- */
@media (max-width: 900px) {
  .section-box {
    flex-direction: column;
    text-align: center;
  }

  .section-box img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 15px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

/* Search area */
.search-box {
  position: relative;
  width: 450px;
  margin: 30px;
}
.search-btn {
  position: absolute; 
  right: 5px;
  top:50%;
  background: none;
  border:none;
  padding: 4px;
  cursor:pointer;
  transform: translateY(-50%);
}

.search-btn img {
  height: 32px;
  width: 32px;
}
.search-box input{
  height: 40px;
  border-radius: 6px;
  width: 100%;
  padding: 8px 40px 8px 12px;
  border: 1px solid #ccc; 
}

