/* index.html -> logo */
header .logo a{
  color: #ff9900;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

header {
  margin-top: 3px;
}

/* log.html  */
.main form a{
  color: #ff9900;
  text-decoration: none;
  font-weight: bold;
}


/* input ->index.html */
.search-area form{
  width: 50%;
  max-width:  800px;
}

.search-area input {
  flex: 1;
}

